extends ../layouts/default

block content
	.splash
		.intro I’m a data scientist and engineer with 10 years of experience.
		.fox
			img(src='/images/fox.png')
	.cases
		a(name='cases')
		.section-title Case Studies
			hr
		each caseStudy in data.caseStudies
			.row.container
				.col-md-4
					.img(style="background-image: url(#{caseStudy.image.url})")
				.col-md-8
					.case-details
						.title #{caseStudy.title}
						.info Project goal: 
							span #{caseStudy.goal}
						.info Tools used: 
							each tool in caseStudy.tools
								span.tool #{tool.name}
						.info Length of project: 
							span #{caseStudy.length}
						.content !{caseStudy.description}
	.resume
		a(name='resume')
		.section-title Resume
			hr
		.row.container
			.col-md-6
				.header Education
				each education, index in data.educations
					.education-item
						.institution #{education.institution}
						.title #{education.degree}
						.dates #{education.dates}
						each field in ['focus', 'thesis', 'advisor']
							if education[field]
								.info #{field}:
									span #{education[field]}
				.btn.toggle-education See More

				.header Work Experience
				each experience, index in data.workExperiences
					.experience-item
						.institution #{experience.company}
						.title #{experience.title}
						.dates #{experience._.dateStart.format('MMMM YYYY')} -
							| #{experience.dateEnd ? experience._.dateEnd.format('MMMM YYYY') : 'Present'}
						.info
							span #{experience.description}
				.btn.toggle-experience See More
			.col-md-6
				.header Publications
				each publication, index in data.publications
					.publication-item
						.institution #{publication.venue}
						a(href="/files/#{publication.file.filename}", target="_blank")
							.title #{publication.title}
						.dates #{publication._.date.format('MMMM YYYY')}
						.info
							span #{publication.description}
				.btn.toggle-publication See More

	.testimonials
		a(name='testimonials')
		.section-title Testimonials
			hr

		.quote-wrapper
			.quote-box
				.quote

		.testimonial-items
			ul
				each testimonial in data.testimonials
					li
						img(src="images/people/#{testimonial.photo.filename}")
						.name #{testimonial.name}
						.company #{testimonial.company}
						.hidden !{testimonial.quote}

block js
	script(src="/js/readmore-js/readmore.min.js")
	script(src="/js/toggle-more.js")
	script(src="/js/testimonial.js")
	script.
		$(document).ready(function() {
			$('.case-details').readmore({
				collapsedHeight: 305,
				moreLink: '<div><div class="btn">See More</div></div>',
				lessLink: '<div><div class="btn">See Less</div></div>',
				embedCSS: false
			});

			$('.toggle-education').toggleMore('.education-item', 2, 'See More', 'See Less');
			$('.toggle-experience').toggleMore('.experience-item', 2, 'See More', 'See Less');
			$('.toggle-publication').toggleMore('.publication-item', 1, 'See More', 'See Less');

			$('.testimonial-items').testimonial('.quote', 3, 3000);

		});