extends ../layouts/default

block content
	.splash
		.intro I’m a data scientist with 10 years of experience in machine learning.
		.fox
			img(src='/images/fox.png')
	.cases
		a(name='cases')
		.section-title Case Studies
			hr

		
		each caseStudy in data.caseStudies.results
			.row.container
				.col-md-4
					.img(style="background-image: url(#{caseStudy.image.url})")
				.col-md-8
					.case-details
						.title #{caseStudy.title}
						.info Project goal: 
							span #{caseStudy.goal}
						.info Tools used: 
							each tool in caseStudy.tools
								span.tool #{tool.name}
						.info Length of project: 
							span #{caseStudy.length}
						.content !{caseStudy.description}

block js
	script(src="/js/readmore-js/readmore.min.js")
	script.
		$(document).ready(function() {
			console.log('hello');
			$('.case-details').readmore({
				collapsedHeight: 300,
				moreLink: '<div><div class="btn">Learn More</div></div>',
				lessLink: '<div><div class="btn">Learn Less</div></div>',
				embedCSS: false
			})
		});
